<header id="template-is8lh" class=""></header>
<section id="template-imbgi" class="">
    <section id="ivb8f" class="gpd-section">
        <div id="iwzkx" class="gpd-container gpd-cnt">
            <div id="ivivl" class="gdp-row gpd-grid">
                <div id="iry2n" class="cell gpd-clm">
                    <div id="i43hr" class="gpd-text">IBM Cloud</div>
                </div>
                <div id="i35j7" class="cell gpd-clm">
                    <div id="ihaj3" class="gpd-text">The most open and secure public cloud for business</div>
                </div>
                <div id="imves" class="cell gpd-clm">
                    <div id="iavvi" class="gpd-text">Learn more</div>
                    <img id="i6iaa" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/50591c05aca84c41bfe967c218a9231d_iconfinder_arrow_forward_1063879.png"
                    class="" />
                </div>
            </div>
        </div>
    </section>
    <section id="iwcsl" class="gpd-section">
        <div id="template-ik9iw" class="gpd-container gpd-cnt">
            
<h1 id="ie6h8" class="gpd-header">
Inside IBM</h1>

            <div id="ii1vi" class="gdp-row gpd-grid">
                <div id="inb46x" class="cell gpd-clm">
                    <div id="i17tyf" class="gpd-text">IBM Cloud Paks</div>
                    <div id="iczc98" class="gdp-row gpd-grid">
                        <div id="template-i820o" class="cell gpd-clm">
                            <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/810b10e1af31489591d4d07ecf996360_cloud_paks.png"
                            id="ituedf" class="" />
                        </div>
                        <div id="template-i5pgk" class="cell gpd-clm">
                            <div id="i38gh3" class="gpd-text">A faster, more reliable way to modernize and move to cloud</div>
                        </div>
                        <div id="template-ig51x" class="cell gpd-clm">
                            <div id="i5lqny" class="gpd-text">Read More</div>
                            <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                            id="i146ix" class="" />
                        </div>
                    </div>
                </div>
                <div id="iqrhc" class="cell gpd-clm">
                    <div id="i6ryj" class="gpd-text">Call for Code Challenge</div>
                    <div id="iea6a" class="gdp-row gpd-grid">
                        <div id="template-ihxkl" class="cell gpd-clm">
                            <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/3602fe89c023434fa67abafe27e56658_call-for-code.jpg"
                            id="irvfg" class="" />
                        </div>
                        <div id="template-icuzk" class="cell gpd-clm">
                            <div id="iqf7q" class="gpd-text">How would you use technology to take on climate change?</div>
                        </div>
                        <div id="template-ijshv" class="cell gpd-clm">
                            <div id="i4wae" class="gpd-text">Read More</div>
                            <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                            id="itk0f" class="" />
                        </div>
                    </div>
                </div>
                <div id="ivrlp" class="cell gpd-clm">
                    <div id="ivw1h" class="gpd-text">Data and AI Virtual Forum</div>
                    <div id="i2z4v" class="gdp-row gpd-grid">
                        <div id="template-i5xc6" class="cell gpd-clm">
                            <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/e12fdb45fb4742e283f811c585b8d7ef_ai-event.jpg"
                            id="icsq1" class="" />
                        </div>
                        <div id="template-ij54d" class="cell gpd-clm">
                            <div id="ig278" class="gpd-text">Accelerate your journey to AI</div>
                        </div>
                        <div id="i4hfi" class="cell gpd-clm">
                            <div id="ib4bc" class="gpd-text">Read More</div>
                            <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                            id="i6xa1" class="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="ipxvp" class="gpd-section">
        <div id="template-ifi242" class="gpd-container gpd-cnt">
            
<h1 id="ig8l6e" class="gpd-header">
Find products and services in the IBM MarketplaceInside IBM</h1>

            <div id="isyg9" class="gdp-row gpd-grid">
                <div id="template-iqca2w" class="cell gpd-clm">
                    <div id="i9c3b" class="gdp-row gpd-grid">
                        <div id="i7ekm" class="cell gpd-clm">
                            <div type="text" placeholder="Search IBM                      Marketplace"
                            id="isbvt" class="form-control"></div>
                        </div>
                        <div id="imgmx" class="cell gpd-clm">
                            <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/dae668c4599c44f18cd1e5d8ae63be3e_group_29336.png"
                            id="iiomo" class="" />
                        </div>
                        <div id="iw8kf8" class="cell gpd-clm">
                            <div id="ilbrkj" class="gpd-text">See more products</div>
                            <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                            id="ijg7y9" class="" />
                        </div>
                    </div>
                </div>
                <div id="ife0x" class="cell gpd-clm">
                    
<h1 id="ihzqh" class="gpd-header">
Technologies</h1>

                    <div id="template-iqnbaj" class="gdp-row gpd-grid">
                        <div id="i3r8h" class="cell gpd-clm">
                            <div id="iphzdj" class="gdp-row gpd-grid">
                                <div id="i126y3" class="cell gpd-clm">
                                    <div id="iaq8ek" class="gpd-text">Analytics</div>
                                    <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                                    id="ibursi" class="" />
                                </div>
                                <div id="iaqmiz" class="cell gpd-clm">
                                    <div id="ig4o0g" class="gpd-text">Cloud computing</div>
                                    <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                                    id="ipxjh9" class="" />
                                </div>
                                <div id="iihj53" class="cell gpd-clm">
                                    <div id="ie8fw3" class="gpd-text">Mobile technology</div>
                                    <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                                    id="i68s5i" class="" />
                                </div>
                            </div>
                        </div>
                        <div id="invmpo" class="cell gpd-clm">
                            <div id="im6wpv" class="gdp-row gpd-grid">
                                <div id="i7dhw7" class="cell gpd-clm">
                                    <div id="ikktz2" class="gpd-text">Artificial intelligence</div>
                                    <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                                    id="iyb8ol" class="" />
                                </div>
                                <div id="i3errh" class="cell gpd-clm">
                                    <div id="id2aaa" class="gpd-text">IT infrastructure</div>
                                    <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                                    id="ipegyd" class="" />
                                </div>
                                <div id="inzg7f" class="cell gpd-clm">
                                    <div id="iljo6z" class="gpd-text">Security</div>
                                    <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                                    id="iwwosk" class="" />
                                </div>
                            </div>
                        </div>
                        <div id="iq5lp" class="cell gpd-clm">
                            <div id="i56en7" class="gdp-row gpd-grid">
                                <div id="i1qliv" class="cell gpd-clm">
                                    <div id="ijof7f" class="gpd-text">Blockchain</div>
                                    <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                                    id="imt009" class="" />
                                </div>
                                <div id="impw48" class="cell gpd-clm">
                                    <div id="i80qpf" class="gpd-text">IT management</div>
                                    <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                                    id="iu357l" class="" />
                                </div>
                                <div id="il9eb9" class="cell gpd-clm">
                                    <div id="i5yxbv" class="gpd-text">Software development</div>
                                    <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                                    id="itnury" class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="isytei" class="cell gpd-clm">
                    
<h1 id="iv5fr5" class="gpd-header">
Business needs</h1>

                    <div id="ifp7dw" class="gdp-row gpd-grid">
                        <div id="ixv2dm" class="cell gpd-clm">
                            <div id="iyvz8x" class="gdp-row gpd-grid">
                                <div id="ixp3ps" class="cell gpd-clm">
                                    <div id="ip6kbi" class="gpd-text">Business operations</div>
                                    <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                                    id="ijb2j1" class="" />
                                </div>
                                <div id="i1v5gy" class="cell gpd-clm">
                                    <div id="i5thxa" class="gpd-text">Content management</div>
                                    <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                                    id="ib5t2l" class="" />
                                </div>
                                <div id="iqfthd" class="cell gpd-clm">
                                    <div id="i6q7fx" class="gpd-text">Human resources</div>
                                    <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                                    id="i6o6m4" class="" />
                                </div>
                            </div>
                        </div>
                        <div id="itwrg6" class="cell gpd-clm">
                            <div id="ia2e1t" class="gdp-row gpd-grid">
                                <div id="i5aivg" class="cell gpd-clm">
                                    <div id="ibr6l8" class="gpd-text">Collaboration</div>
                                    <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                                    id="i1leyu" class="" />
                                </div>
                                <div id="ipctlh" class="cell gpd-clm">
                                    <div id="icajz5" class="gpd-text">Customer service and CRM</div>
                                    <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                                    id="iby1ue" class="" />
                                </div>
                                <div id="if0zrj" class="cell gpd-clm">
                                    <div id="i4p9g8" class="gpd-text">Marketing and sales</div>
                                    <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                                    id="ihe3je" class="" />
                                </div>
                            </div>
                        </div>
                        <div id="i2m0bj" class="cell gpd-clm">
                            <div id="ijenqv" class="gdp-row gpd-grid">
                                <div id="ito5uv" class="cell gpd-clm">
                                    <div id="i1vtvr" class="gpd-text">Commerce</div>
                                    <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                                    id="iqbjgu" class="" />
                                </div>
                                <div id="is3ump" class="cell gpd-clm">
                                    <div id="iiv4qi" class="gpd-text">Finance</div>
                                    <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                                    id="icnntw" class="" />
                                </div>
                                <div id="i73r68" class="cell gpd-clm">
                                    <div id="ixm47i" class="gpd-text">Supply chain management</div>
                                    <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                                    id="i7yzha" class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="iiw2z6" class="gpd-section">
        <div id="template-idxv6o" class="gpd-container gpd-cnt">
            
<h1 id="iw6ugh" class="gpd-header">
Explore product trials and offers</h1>

            <div id="template-ijky5q" class="gdp-row gpd-grid">
                <div id="i8ynh" class="cell gpd-clm">
                    <div id="ihj2i" class="gpd-text">View more offers</div>
                    <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                    id="iro6s" class="" />
                </div>
            </div>
            <div id="in8u5m" class="gdp-row gpd-grid">
                <div id="i6j7q" class="cell gpd-clm">
                    <div id="iz2fs" class="gpd-text">IBM MQ on Cloud</div>
                    <div id="idh6s" class="gdp-row gpd-grid">
                        <div id="i8lzk" class="cell gpd-clm">
                            <img id="igsi7" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/9643f048c7f8400ebcf4762c217e689b_lapimage1.png"
                            class="" />
                        </div>
                        <div id="i5c6h" class="cell gpd-clm">
                            <div id="ilxv4" class="gpd-text">Put enterprise messaging in the cloud with a fully managed message queue</div>
                        </div>
                        <div id="im9ij" class="cell gpd-clm">
                            <div id="icq4a" class="gpd-text">Start your free trail</div>
                            <img id="ithyh" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                            class="" />
                        </div>
                    </div>
                </div>
                <div id="iesq5f" class="cell gpd-clm">
                    <div id="i33eg9" class="gpd-text">IBM Cloud Pak for Data</div>
                    <div id="in7ldv" class="gdp-row gpd-grid">
                        <div id="i0zcpv" class="cell gpd-clm">
                            <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/cb8b47b76cef4fc2a6471a6eea4d9c28_lapimage2.png"
                            id="igtpbv" class="" />
                        </div>
                        <div id="i12dvt" class="cell gpd-clm">
                            <div id="ipmbk2" class="gpd-text">Accelerate your journey to AI with a cloud-native data platform</div>
                        </div>
                        <div id="ii8efi" class="cell gpd-clm">
                            <div id="ihifua" class="gpd-text">Start your 7-day trail</div>
                            <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                            id="ive4rf" class="" />
                        </div>
                    </div>
                </div>
                <div id="i1y3x7" class="cell gpd-clm">
                    <div id="ibgpyj" class="gpd-text">IBM MaasS360 with Watson</div>
                    <div id="ilyuky" class="gdp-row gpd-grid">
                        <div id="i6btjk" class="cell gpd-clm">
                            <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/91d37edd35ae483c970298d55c8b060c_lapimage3.png"
                            id="i4qhrg" class="" />
                        </div>
                        <div id="ivle3b" class="cell gpd-clm">
                            <div id="i6pxgf" class="gpd-text">
                                <div id="template-iogack" class="">Use AI to enable your devices, users, apps, content and</div>
                                <br id="template-iirdvr"
                                class="">
                                <div id="template-ix8gth" class="">​​​​​​​data</div>
                            </div>
                        </div>
                        <div id="izoxuv" class="cell gpd-clm">
                            <div id="ic0sfi" class="gpd-text">Start your free trail</div>
                            <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                            id="ilyw4n" class="" />
                        </div>
                    </div>
                </div>
                <div id="i21rlb" class="cell gpd-clm">
                    <div id="i7wqi7" class="gpd-text">IBM Cognos Analytics</div>
                    <div id="i6bela" class="gdp-row gpd-grid">
                        <div id="iu2kxl" class="cell gpd-clm">
                            <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/6c04567419f549d7aa1a579e5b92f034_lapimage4.png"
                            id="icpsev" class="" />
                        </div>
                        <div id="ifb39s" class="cell gpd-clm">
                            <div id="idtozk" class="gpd-text">Unearth hidden insights with personalized analytics driven by AI</div>
                        </div>
                        <div id="i2764n" class="cell gpd-clm">
                            <div id="ibp5nw" class="gpd-text">Start trail on Cloud</div>
                            <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                            id="iphms2" class="" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="iury5m" class="gdp-row gpd-grid">
                <div id="ioao7a" class="cell gpd-clm">
                    <div id="ir8lvh" class="gpd-text">Join IBM and do your best work ever</div>
                </div>
                <div id="i1n0jm" class="cell gpd-clm">
                    <div id="i42w0h" class="gpd-text">Visit IBM Global Careers</div>
                    <img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/f563e6c34a01469aa33b3c0702460824_iconfinder_right_arrow_2125610.png"
                    id="ib8nhu" class="" />
                </div>
            </div>
        </div>
    </section>
</section>