<footer id="template-ixidus" class="">
    <section id="template-i1zjh3" class="gpd-section">
        <div id="template-iavsfl" class="gpd-container gpd-cnt">
            <div id="i3kj0d" class="gdp-row gpd-grid">
                <div id="i70ji8" class="cell gpd-clm">
                    
<h1 id="iejog" class="gpd-header">
Discover</h1>

                    <div id="ijhgew" class="gdp-row gpd-grid">
                        <div id="template-if9fod" class="cell gpd-clm">
<a id="i3dj7c" class="gpd-link">
Products</a>

                        </div>
                        <div id="template-irxmk8" class="cell gpd-clm">
<a id="iwe5iz" class="gpd-link">
Trials</a>

                        </div>
                        <div id="template-iimeak" class="cell gpd-clm">
<a id="i5i5sp" class="gpd-link">
Services</a>

                        </div>
                        <div id="template-i2o77e" class="cell gpd-clm">
<a id="iz2u2f" class="gpd-link">
Industries</a>

                        </div>
                        <div id="template-ibs2i1" class="cell gpd-clm">
<a id="ilj3lx" class="gpd-link">
IBM discounts</a>

                        </div>
                        <div id="template-i6tgll" class="cell gpd-clm">
<a id="ipfhqh" class="gpd-link">
Case studies</a>

                        </div>
                    </div>
                </div>
                <div id="i6tmmu" class="cell gpd-clm">
                    
<h1 id="is8xq1" class="gpd-header">
Information for...</h1>

                    <div id="i9o9ld" class="gdp-row gpd-grid">
                        <div id="template-i6z0xj" class="cell gpd-clm">
<a id="ihhpxt" class="gpd-link">
Developers</a>

                        </div>
                        <div id="template-igenc1" class="cell gpd-clm">
<a id="i6az77" class="gpd-link">
Business Partners</a>

                        </div>
                        <div id="template-i67jgh" class="cell gpd-clm">
<a id="igzazs" class="gpd-link">
<span id="template-if17nc" class="">
Federal
                                        and state contracts</span>
</a>

                        </div>
                    </div>
                </div>
                <div id="ir0gya" class="cell gpd-clm">
                    
<h1 id="iq1f6g" class="gpd-header">
Connect with us</h1>

                    <div id="i9rxc2" class="gdp-row gpd-grid">
                        <div id="template-ifu2r4" class="cell gpd-clm">
<a id="i8muak" class="gpd-link">
Support</a>

                        </div>
                        <div id="template-i4a036" class="cell gpd-clm">
<a id="iht86y" class="gpd-link">
Find a sales rep</a>

                        </div>
                        <div id="template-inke8v" class="cell gpd-clm">
<a id="im0l7l" class="gpd-link">
Find a Business Partner</a>

                        </div>
                    </div>
                </div>
                <div id="ic4fen" class="cell gpd-clm">
                    
<h1 id="ide7h5" class="gpd-header">
About IBM</h1>

                    <div id="irpwjr" class="gdp-row gpd-grid">
                        <div id="template-img1mv" class="cell gpd-clm">
<a id="i3efh6" class="gpd-link">
Careers</a>

                        </div>
                        <div id="template-iv88cl" class="cell gpd-clm">
<a id="ijtqse" class="gpd-link">
Latest news</a>

                        </div>
                        <div id="template-ivnxin" class="cell gpd-clm">
<a id="itrx7r" class="gpd-link">
<span id="template-ij8oz8" class="">
Investor
                                        realtions</span>
</a>

                        </div>
                        <div id="template-i5lvms" class="cell gpd-clm">
<a id="iresqk" class="gpd-link">
<span id="template-iz25bj" class="">
Corporate
                                        responsibility</span>
</a>

                        </div>
                        <div id="template-i35428" class="cell gpd-clm">
<a id="iuayy4" class="gpd-link">
<span id="template-izgota" class="">
About
                                        IBM</span>
</a>

                        </div>
                    </div>
                </div>
            </div>
            <div id="i7dolx" class="gpd-divider"></div>
            <div id="template-ia6k5t" class="gdp-row gpd-grid">
                <div id="template-iwiyoi" class="cell gpd-clm">
                    <nav data-gjs="navs" id="i8ho" class="menu">
<a [routerLink]="['##']" id="iasj" class="menu-link">
Products</a>

<a [routerLink]="['##']" id="i1eyi" class="menu-link">
Services</a>

<a [routerLink]="['##']" id="i7zx3" class="menu-link">
Industries</a>

<a [routerLink]="['##']" id="ixsa4" class="menu-link">
Developers</a>

<a [routerLink]="['##']" id="ig2aj" class="menu-link">
Support</a>

                    </nav>
                </div>
                <div id="template-ilg74l" class="cell gpd-clm">
<span id="template-ipov3j" class="Geppetto">
<div id="template-i8y3ae" class="">
Powered By Geppetto 
                            </div>
<img src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/04c2b4a878b04dfa86863bcc778c653d_geppettoicon.png" width="50" height="50" id="template-ioolwf" class=""/>
</span>

                </div>
            </div>
        </div>
    </section>
</footer>